{% extends "pages/base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
    <div class="container mb-2">
        <h2 class="caption"><strong>Password change</strong></h2>
        <hr>
        <div class="col-sm-6 push-sm-3">
            <div class="row content mb-3">
                <form method="post" class="password_change">
                    {% csrf_token %}
                    {{ form }}
                    <hr>
                    <button type="submit" class="btn-outline-success mt-3 ">Save changes</button>
                    <button onclick="location.href='{% url 'index' %}'" class="btn-outline-danger mt-1">Cancel</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}